<p style="margin-left: 1%;">Список всех карточек</p>
<ul class="cards">
  <% @cards.each do |card| %>
    <li>
      <%=  card.original_text %>
      <%=  card.translated_text %>
      <%=  card.review_date.strftime("%m/%d/%Y") %>
    </li>
  <% end %>
</ul>